#about-page{
  padding: 100px;
  h1{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 2rem;
  }
  p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .content-box{
    background-color: white;
    padding: 20px;
  }
}